<footer class="footer">
  <p>Copyright © 2023 Adrian Kosmaczewski. All Rights Reserved. This site is not affiliated with Red Hat, Inc. or any of its subsidiaries.</p>
  <p>OpenShift®, Red Hat®, and the Red Hat logo are trademarks or registered trademarks of Red Hat, Inc. or its subsidiaries in the United States and other countries. All other trademarks are the property of their respective owners.</p>
</footer>