<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="search" href="/opensearchdescription.xml" type="application/opensearchdescription+xml"
    title="OpenShift Guide">