<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the guide">
        </div>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Course</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.linkedin.com/learning/learning-openshift/" target="_blank">LinkedIn Learning</a>
            <a class="navbar-item" href="https://github.com/LinkedInLearning/learning-openshift-4407066"
              target="_blank">GitHub Repository</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.openshift.com/" target="_blank">OpenShift Documentation</a>
            <a class="navbar-item" href="https://www.okd.io/" target="_blank">OKD</a>
            <a class="navbar-item" href="https://crc.dev/crc/" target="_blank">CRC</a>
            {{!-- <a class="navbar-item" href="https://developers.redhat.com/products/openshift-local/overview"
              target="_blank">Local</a> --}}
            {{!-- <a class="navbar-item" href="https://github.com/crc-org/crc/wiki" target="_blank">CodeReady Containers
              wiki</a> --}}
            {{!-- <a class="navbar-item" href="https://www.okd.io/crc/">CodeReady Containers for OKD</a> --}}
            {{!-- <a class="navbar-item" href="https://developers.redhat.com/developer-sandbox/"
              target="_blank">Developer Sandbox</a> --}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">About</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://akos.ma/" target="_blank">Adrian Kosmaczewski</a>
            <a class="navbar-item" href="https://mastodon.online/@akosma" target="_blank">Mastodon</a>
            <a class="navbar-item" href="https://www.linkedin.com/in/akosma" target="_blank">LinkedIn</a>
            <a class="navbar-item" href="https://deprogrammaticaipsum.com/" target="_blank">De Programmatica Ipsum</a>
            {{!-- <a class="navbar-item" href="https://github.com/akosma" target="_blank">GitHub</a> --}}
            {{!-- <a class="navbar-item" href="https://gitlab.com/akosma" target="_blank">GitLab</a> --}}
            {{!-- <a class="navbar-item" href="https://www.youtube.com/@akosma" target="_blank">YouTube</a> --}}
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://www.linkedin.com/learning/learning-openshift/" target="_blank">LinkedIn Learning</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>